include Cargo.toml
include Cargo.lock
include desktop/Cargo.toml
recursive-include desktop/src *
recursive-include desktop/assets *
include core/Cargo.toml
recursive-include core/src *
recursive-include brand *
include scripts/cibw-repair-linux.sh
include LICENSE
